# Time-stamp: <2025-06-21 21:14:43 krylon>
[flake8]
max-line-length = 99
# 🤬🤬🤬 WTF is wrong with the people who write these rules?
extend-ignore = D105,D107,D205,D209,D400
per-file-ignores =
                 test_database.py: E501
